## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")

clean_hotel_df = vacation_df 
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Antsohihy,MG,78.21,scattered clouds,-14.8796,47.9875,Hotel de Ville
1,5,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
2,12,Bengkulu,ID,84.00,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,17,Jalu,LY,80.80,clear sky,29.0331,21.5482,صاحبة الفخامة
4,23,Manicore,BR,75.15,clear sky,-5.8092,-61.3003,Hotel Durval
...,...,...,...,...,...,...,...,...
179,665,Hohhot,CN,78.26,clear sky,40.8106,111.6522,Sheraton Hohhot Hotel
180,672,Dongkan,CN,79.63,overcast clouds,33.9997,119.8308,Triumphal Resort
181,673,Parker,US,82.35,clear sky,32.7668,-97.8003,"Candlewood Suites Weatherford, an IHG Hotel"
182,676,Biak,ID,81.28,scattered clouds,-0.9131,122.8766,Penginapan Kim
183,681,Finschhafen,PG,81.03,overcast clouds,-6.6024,147.8681,Cossam Guest House

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Jasper']
vacation_end   = vacation_df.loc[vacation_df['City'] == 'Jasper']
vacation_stop1 = vacation_df.loc[vacation_df['City'] =='Tucumcari']
vacation_stop2 = vacation_df.loc[vacation_df['City'] =='New Iberia'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] =='Houma'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
167,620,Jasper,US,79.99,clear sky,37.2001,-94.3502,Guest House Motel

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [53]:
start = tuple(start.reshape(1, -1)[0])
end = tuple(end.reshape(1, -1)[0])
stop1 = tuple(stop1.reshape(1, -1)[0])
stop2 = tuple(stop2.reshape(1, -1)[0])
stop3 = tuple(stop3.reshape(1, -1)[0])

In [60]:
start

(37.2001, -94.3502)

In [59]:
end

(37.2001, -94.3502)

In [64]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

fig = gmaps.figure()
jasper2jasper = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(jasper2jasper)
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,620,Jasper,US,79.99,clear sky,37.2001,-94.3502,Guest House Motel
1,629,Tucumcari,US,77.94,broken clouds,35.1717,-103.7250,"Holiday Inn Express & Suites Tucumcari, an IHG..."
2,495,New Iberia,US,80.96,overcast clouds,30.0035,-91.8187,La Quinta Inn & Suites by Wyndham New Iberia
3,589,Houma,US,82.99,broken clouds,29.5958,-90.7195,Courtyard by Marriott Houma

In [68]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))